<form class="{{classes}}" autocomplete="off">
    <div class='form-group class unlinked'>
        <input type='checkbox' name='unlinkedOnly' id='unlinked_only' {{checked data.unlinkedOnly}} data-dtype="Boolean">
        <label for='unlinkes_only'>Apply settings to <em>unlinked tokens only</em>.</label>
    </div>
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="names">Name</a>
        {{#if showSystem}}<a class="item 5e-options" data-tab="hp">System Specific</a>{{/if}}
        <a class="item" data-tab="config">Modify Default Config</a>
        <a class="item" data-tab="overlay">Stat Overlay</a>
    </nav>
    <div class="tab" data-tab="names" data-group="configs">
        <div class="form-group">
            <input type='checkbox' name='name.number.use' id='use_number' {{checked data.name.number.use}} data-dtype="Boolean"><label for='use_number'>Add counting numbers to name as Suffix.</label>
        </div>
        <p>Choose number style. The first field may not be empty!</p>
        <div class="form-group">
            <input type='text' style='text-align:right' class='inp-small' value="{{data.name.number.prefix}}" title="Prefix" name="name.number.prefix" data-dtype="String">
            <select class='number-type' name="name.number.type" data-dtype="String">
                {{#select data.name.number.type}}
                {{#each numberStyles as |label key|}}
                    <option value="{{key}}">{{label}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input type='text' class='inp-small' value="{{data.name.number.suffix}}" title="Suffix" name="name.number.suffix" data-dtype="String">
        </div>
        <div class="form-group" title="The index increase will be chosen randomly from within this range. Minimum of 1. (Uniformly distributed)">
            <label>Increase Index by up to </label><input type="text" data-dtype="Number" name="name.number.range" value="{{#if data.name.number.range}}{{data.name.number.range}}{{else}}1{{/if}}"/>
        </div>
        <div class="form-group">
            <a class='reset-counter' title='Resets the Counter for newly created tokens. This will reset to the highest placed index after a page reload. On maps with a high amount of tokens this could take a few seconds.'><i class="fas fa-undo"></i> Reset counter for this scene for all tokens.</a>
        </div>
        <div class="form-group">
            <input type='checkbox' name='name.prefix.use' id='use_prefix'  data-dtype="Boolean" {{checked data.name.prefix.use}}><label for='use_prefix'>Add random adjective from dictionary</label>
        </div>

        <div class="form-group">
            <label>Choose adjectives from following rollable Table:</label>
            <select name="name.prefix.table" data-dtype="String">
                {{#select data.name.prefix.table}}
                {{#each rollTableList as |array group|}}
                    <optgroup label="{{group}}">
                        {{#each array}}
                        <option value="{{this.uuid}}">{{this.name}}</option>
                        {{/each}}
                    </optgroup>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <label for='name.replace'>Base name: </label>
            <select class='name-replace' name='name.replace' data-dtype="String">
                {{#select data.name.replace}}
                    <option value="nothing">Do nothing</option>
                    <option value="remove">Remove</option>
                    <option value="replace">Replace with randomized name</option>
                {{/select}}
            </select>
        </div>
        <div class="form-group name-randomizer-options">
            <span title="For more information on how this works look onto the modules homepage.">The chosen option will replace the tokens base name with a generated name. <br>
                You can choose a number of attributes. For each attribute you can choose possible values and assign them a language. On token creation the first value that fits will be chosen. If no fitting value was found, the default will be used.</span>


            <div class="form-group">
                <label>Generated Name length</label>
                <div class="flexrow">
                    <section>
                        <label>Minimum:</label>
                        <input type='text' name='name.options.min' value='{{data.name.options.min}}' data-dtype='Number'/>
                    </section>
                    <section>
                        <label>Maximum:</label>
                        <input type='text' name='name.options.max' value='{{data.name.options.max}}' data-dtype='Number'/>
                    </section>
                </div>
            </div>
            <div class="form-group">
                <a class='reroll-names'><i class="fas fa-dice"></i> Regenerate names for selected tokens</a>
            </div>
            <div class="form-group language-selection header">
                <h4 class='attribute'>Attribute</h4>
                <h4 class='value'>Value</h4>
                <h4 class='language'>Language</h4>
                <a class='reset' title="Reset to default"></a>
            </div>
            <div class="form-group language-selection language-group default-group">
                <span class='attribute default' value='default'>Default</span>
                <span class='value'></span>
                <select class='language'>
                    {{#select data.name.options.default}}
                    <option value="random">random</option>
                    {{#each @root.languages}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a class='remove' title="Delete"></a>
            </div>
            {{#each data.name.options.attributes as |attrs idx|}}
            <div class="form-group attribute-selection attribute-group">
                <select data-dtype='String' class='attribute'>
                    {{#select this.attribute}}
                    <option value="">None</option>
                    <option value="name">Name</option>
                    {{#each @root.actorAttributes as |v  k|}}
                    <optgroup label="{{k}}">
                        {{#each v}}
                        <option value="data.{{k}}.{{this.attribute}}">{{this.attribute}} [{{this.entity}}]</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
                <div class=' language-selection '>
                    {{#each this.languages as |lang attr|}}
                    <div class="form-group language-group">
                        <input type='text' class='value' value='{{attr}}'/>
                        <select class='language'>
                            {{#select lang}}
                            <option value="random">random</option>
                            {{#each @root.languages}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <a class='lang-remove' title="Delete"><i class="fas fa-times"></i></a>
                    </div>
                    {{/each}}
                    <a class='add-language-value'><i class="fas fa-plus"></i>&nbsp;Add Value</a>
                </div>
            </div>
            {{/each}}
            <a class='add-language-attribute'><i class="fas fa-plus"></i>&nbsp;Add Attribute</a>
        </div>
    </div>
    <div class="tab" data-tab="hp" data-group="configs">
        {{#if showHP}}
        <div class="form-group">
            <input data-dtype="Boolean" type='checkbox' name='hp.toChat' id='hp_to_Chat' {{checked data.hp.toChat}}><label for='hp_to_Chat'>Send result to Chat</label>
        </div>
        {{/if}}
        <div class="form-group" title="Sets token size according to the size set in the actor sheet adhering to the rules. If the map has has ft. as distance unit it will scale accordingly.">
            <input data-dtype="Boolean" type='checkbox' name='size.use' id='sizeUse' {{checked data.size.use}}/><label for='sizeUse'>Set Token size to creature size and scaled to map scale</label>
        </div>
    </div>
    <div class="tab" data-tab="config" data-group="configs">
        <div class="form-group">
            <label>Display Bars: </label>
            <div class="flexcol">
                <section>
                <input type='checkbox' name='config.displayBars.use' id='displayBarsUse' {{checked data.config.displayBars.use}}><label for='displayBarsUse'>Overwrite</label>
                </section>
                <select name="config.displayBars.value" data-dtype="Number">
                    {{#select data.config.displayBars.value}}
                    {{#each displayModes as |label key|}}
                        <option value="{{label}}">{{key}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Bar 1 Attribute: </label>
            <div class="flexcol">
                <section>
                <input type='checkbox' name='config.bar1.use' id='bar1Use' {{checked data.config.bar1.use}}><label for='bar1Use'>Overwrite</label>
                </section>
                <select name="config.bar1.attribute" data-dtype="String">
                    {{#select data.config.bar1.attribute}}
                        <option value="">None</option>
                    <optgroup label="Bar Attributes">
                    {{#each barAttributes.bar}}
                        <option value="{{this.attribute}}">{{this.attribute}} [{{this.entity}}]</option>
                    {{/each}}
                    </optgroup>
                    <optgroup label="Values">
                    {{#each barAttributes.value}}
                        <option value="{{this.attribute}}">{{this.attribute}} [{{this.entity}}]</option>
                    {{/each}}
                    </optgroup>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Bar 2 Attribute: </label>
            <div class="flexcol">
                <section>
                <input type='checkbox' name='config.bar2.use' id='bar2' {{checked data.config.bar2.use}}><label for='bar2Use'>Overwrite</label>
                </section>
                <select name="config.bar2.attribute" data-dtype="String">
                    {{#select data.config.bar2.attribute}}
                        <option value="">None</option>
                    {{#each barAttributes}}
                        <option value="{{this.attribute}}">{{this.attribute}} [{{this.entity}}]</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Display Name: </label>
            <div class="flexcol">
                <section>
                <input type='checkbox' name='config.displayName.use' id='displayNameUse' {{checked data.config.displayName.use}}><label for='displayNameUse'>Overwrite</label>
                </section>
                <select name="config.displayName.value" data-dtype="Number">
                    {{#select data.config.displayName.value}}
                    {{#each displayModes as |label key|}}
                        <option value="{{label}}">{{key}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group">
                <label>Disposition</label>
                <div class="flexcol">
                    <section>
                    <input type='checkbox' name='config.disposition.use' id='dispositionUse' {{checked data.config.vision.use}}><label for='dispositionUse'>Overwrite</label>
                    </section>
                    <select name="config.disposition.value" data-dtype="Number">
                        {{#select data.config.disposition.value}}
                        {{#each dispositions as |label key|}}
                            <option value="{{label}}">{{key}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        <div class="form-group">
            <label>Vision: </label>
            <div class="flexcol">
                <section>
                <input type='checkbox' name='config.vision.use' {{checked data.config.vision.use}}><label for='vision'>Overwrite</label>
                </section>
                <section>
                    <input type='checkbox' name='config.vision.value' {{checked data.config.vision.value}}><label for='vision'>Has Vision?</label>
                </section>
            </div>
        </div>
        <div class="form-group">
            <label>Random Scale Multiplier</label>
            <div class="flexcol">
                <section>
                <input type='checkbox' name='config.scale.use' id='scaleUse' {{checked data.config.scale.use}}><label for='scaleUse'>Active</label>
                </section>
                <section>
                    Min 
                    <input type='text' name='config.scale.min' value='{{data.config.scale.min}}' data-dtype='Number'/>
                </section>
                <section>
                    Max 
                    <input type='text' name='config.scale.max' value='{{data.config.scale.max}}' data-dtype='Number'/>
                </section>
            </div>
        </div>
        <div class="form-group">
                <label>Random Rotation Range</label>
                <div class="flexcol">
                    <section>
                    <input type='checkbox' name='config.rotation.use' id='rotationUse' {{checked data.config.rotation.use}}><label for='rotationUse'>Overwrite</label>
                    </section>
                    <section>
                        Min Angle
                        <input type='text' name='config.rotation.min' value='{{data.config.rotation.min}}' data-dtype='Number'/>
                    </section>
                    <section>
                        Max Angle
                        <input type='text' name='config.rotation.max' value='{{data.config.rotation.max}}' data-dtype='Number'/>
                    </section>
                </div>
            </div>
    </div>
    <div class="tab overlay" data-tab="overlay" >
        <div class="form-group">
            <h3>Choose Attributes to display</h3>
        </div>
        <div class="form-group attributes header">
            <h4 class='icon'>Icon</h4>
            <h4 class='attribute'>Attribute</h4>
            <a class='remove' title="Delete"></a>
        </div>
        {{#each data.overlay.attrs}}
        <div class="form-group attributes">
            <select class='icon fas fa'>
                {{#select this.icon}}
                {{#each @root.defaultIcons}}
                <option class='fas fa' value="{{this}}">{{{this}}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select class='value' data-dtype='String'>
                {{#select this.path}}
                <option value="">None</option>
                <option value="name">Name</option>
                {{#each @root.actorAttributes as |v  k|}}
                <optgroup label="{{k}}">
                    {{#each v}}
                    <option value="data.{{k}}.{{this.attribute}}">{{this.attribute}} [{{this.entity}}]</option>
                    {{/each}}
                </optgroup>
                {{/each}}
                {{/select}}
            </select>
            <a class='remove' title="Delete"><i class="fas fa-times"></i></a>
        </div>
        {{else}}
        <div class="form-group attributes">
            <select class='icon fas fa'>
                {{#each @root.defaultIcons}}
                <option class='fas fa' value="{{this}}">{{{this}}}</option>
                {{/each}}
            </select>
            <select class='value' data-dtype='String'>
                <option value="">None</option>
                <option value="name">Name</option>
                {{#each @root.actorAttributes as |v  k|}}
                <optgroup label="{{k}}">
                    {{#each v}}
                    <option value="data.{{k}}.{{this.attribute}}">{{this.attribute}} [{{this.entity}}]</option>
                    {{/each}}
                </optgroup>
                {{/each}}
            </select>
            <a class='remove' title="Delete"><i class="fas fa-times"></i></a>
        </div>
        {{/each}}
        <a class='add-attribute'><i class="fas fa-plus"></i>&nbsp;Add Attribute</a>
    </div>
</form>
