<style>
.welcome-screen a[href] {
	color: #0012ff;
}
.welcome-screen .window-content > * {
	flex: 0;
}
</style>

<h1>Thank you for using Token Mold!</h1>
<p>Make sure to read the <a href="https://gitlab.com/moerills-fvtt-modules/token-mold#token-mold">README</a>, to get an overview of Token Molds features.</p>
<h2>Bugs? Issues?</h2>
<p>Take a look at the <a href="https://gitlab.com/moerills-fvtt-modules/token-mold#faq">FAQ</a>. If this does not help, check the <a class='.welcome-screen-link' href="https://gitlab.com/moerills-fvtt-modules/token-mold/-/issues">GitLabs Issue Board</a>. <br>Does your issue exist already? Give it a thumbs up or comment on it. <br>
If the issue does not exist, create it.</p>
<h2>Suggestions? Feature Requests?</h2>
<p>Currently planned features (and bugs) are on the <a href="https://gitlab.com/moerills-fvtt-modules/token-mold/-/issues">GitLabs Issue Board</a>. If your suggestion does not exist already, please create an issue for it and label it as suggestion.</p>
<p>If you want to help the development of Token Mold, send me a merge request and i will gladly take a look at it!</p>

<p style="font-weight: bold; text-align: right;">Best regards, <br>Moerill</p>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again"/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>

<h1>Changelog v2.5.3:</h1>
<ul>
	<li>One more time: Trying to fix compendium loading.  It seems like this time for real! (at least according to my helpful tester @notrealdan and me)</li>
</ul>
<h1>Changelog v2.5.2:</h1>
<ul>
	<li>One more try to fix compendium loading..</li>
</ul>
<h1>Changelog v2.5.1:</h1>
<ul>
	<li>Fixed some issues with adjective randomizing, where rollable tables did not load properly.</li>
	<li>Added a japanese adjectives dictionary. Thanks to @Brother Sharp for this!</li>
	<li>Added more debugging information to the dictionary loading.</li>
</ul>